.App.dark {
  text-align: left;
  background-color:  rgb(126, 27, 27);
}
.App.light {
  text-align: left;
  background-color: antiquewhite;
}

h1.dark{
  text-align: center;
  background-color: rgb(126, 27, 27);
  color: antiquewhite;
}

h1.light{
  text-align: center;
  background-color: antiquewhite;
  color: rgb(126, 27, 27);
}

li.dark{
  background-color: rgb(126, 27, 27);
  color: antiquewhite;
  list-style-type:none;
  margin: 10px 10px;
  padding: 0px 5px;
  font-size: 20px;
  border: dashed antiquewhite;
}

li.light{
  background-color: antiquewhite;
  color: rgb(126, 27, 27);
  list-style-type:none;
  margin: 10px 10px;
  padding: 0px 5px;
  font-size: 20px;
  border: dashed rgb(126, 27, 27);
}

li.dark:hover {
  background-color:antiquewhite;
  color: rgb(126, 27, 27); 
}

li.light:hover {
    background-color: rgb(126, 27, 27); 
    color:antiquewhite;
}

button.dark{
  float: right;
  color:antiquewhite;
  background-color: rgb(126, 27, 27); 
  border: solid 1px antiquewhite;
}

button.light{
  float: right;
  color:rgb(126, 27, 27); 
  background-color:  antiquewhite;
  border: solid 1px rgb(126, 27, 27); 
}
